@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dgreen: #3e481c;
  --color-lgreen: #869064;
  --color-secondary: #9B6A4A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --color-dgreen: var(--color-dgreen);
  --color-lgreen: var(--color-lgreen);
  --color-secondary: var(--color-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'PoorRichard';
  src: url('/fonts/PoorRichard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*backdrop blur */
.backdrop-blur-20 {
  backdrop-filter: blur(20px);
}