@import "tailwindcss";

:root {
  --background: #FAF5F1;
  --foreground: #171717;
  --color-dgreen: #3e481c;
  --color-lgreen: #869064;
  --color-secondary: #864921;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --color-dgreen: var(--color-dgreen);
  --color-lgreen: var(--color-lgreen);
  --color-secondary: var(--color-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

/*backdrop blur */
.backdrop-blur-20 {
  backdrop-filter: blur(20px);
}

.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, black 75%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}